<h2>10 Biggest X Companies</h2>
<form method="post" action="/biggest_companies">
  <div>
    <label for="type"> Type:
      <input name="type" id="type" />
    </label>
  </div>
  <button type="submit">Submit</button>
</form>
