<h2>Earnings Preview</h2>
<form method="post" action="/earnings">
  <div>
    <p>
      <label for="name"> Name:
        <input name="name" id="name" />
      </label>
    </p>
    <p>
      <label for="ticker"> Ticker:
        <input name="ticker" id="ticker" />
      </label>
    </p>
    <p>
      <label for="quarter"> Quarter:
        <input name="quarter" id="quarter" />
      </label>
    </p>
  </div>
  <p>
    <button type="submit">Submit</button>
  </p>
</form>