<h2>Earnings Preview</h2>
<form method="post" action="/earnings">
  <div>
    <p>
      <label for="name"> Name:
        <input name="name" id="name" />
      </label>
    </p>
    <p>
      <label for="ticker"> Ticker:
        <input name="ticker" id="ticker" />
      </label>
    </p>
    <p>
      <label for="quarter"> Quarter:
        <input name="quarter" id="quarter" />
      </label>
    </p>
    <p>
      <label for="year"> Year:
        <input name="year" id="year" />
      </label>
    </p>
    <p>
      <label for="eps_estimate"> EPS Estimate:
        <input name="eps_estimate" id="eps_estimate" />
      </label>
    </p>
    <p>
      <label for="eps_year_ago"> EPS (year ago):
        <input name="eps_year_ago" id="eps_year_ago" />
      </label>
    </p>
    <p>
      <label for="report_year"> Reporting Year:
        <input name="report_year" id="report_year" />
      </label>
    </p>
    <p>
      <label for="report_month"> Reporting Month:
        <input name="report_month" id="report_month" />
      </label>
    </p>
    <p>
      <label for="report_day"> Reporting Day:
        <input name="report_day" id="report_day" />
      </label>
    </p>
    <p>
      <label for="aft_bef"> (after/before) market:
        <input name="aft_bef" id="aft_bef" />
      </label>
    </p>
    <p>
      <label for="open_close"> market (open/close):
        <input name="open_close" id="open_close" />
      </label>
    </p>
  </div>
  <p>
    <button type="submit">Submit</button>
  </p>
</form>