<h2>Best ETFs</h2>
<form method="post" action="/etfs">
  <div>
    <p>
      <label for="type"> Type:
        <input name="type" id="type" />
      </label>
    </p>
    <p>
      <label for="period"> Time Period:
        <input name="period" id="period" />
      </label>
    </p>
    <p>
      <label for="num_etfs"> # of ETFs:
        <input name="num_etfs" id="num_etfs" />
      </label>
    </p>
    <p>
      <label for="sector_index"> Sector Index:
        <input name="sector_index" id="sector_index" />
      </label>
    </p>
    <p>
      <label for="sector_performance"> Sector Performance:
        <input name="sector_performance" id="sector_performance" />
      </label>
    </p>
    <p>
      <label for="market_index"> Market Index:
        <input name="market_index" id="market_index" />
      </label>
    </p>
    <p>
      <label for="market_performance"> Market Performance:
        <input name="market_performance" id="market_performance" />
      </label>
    </p>
  </div>
  <div>
    <label for="etf_1"> ETF 1:
      <input name="etf_1" id="etf_1" />
    </label>
  </div>
  <div>
    <label for="etf_2"> ETF 2:
      <input name="etf_2" id="etf_2" />
    </label>
  </div>
  <div>
    <label for="etf_3"> ETF 3:
      <input name="etf_3" id="etf_3" />
    </label>
  </div>
  <p>
    <button type="submit">Submit</button>
  </p>
</form>
<p>Or, update the ETF Company Description database.</p>
<form class="inline" method="get" action="/etf_update">
  <button type="submit">Update Database</button>
</form>
