<h2>Best ETFs</h2>
<form method="post" action="/etfs">
  <div>
    <label for="etf_1"> ETF 1:
      <input name="etf_1" id="etf_1" />
    </label>
  </div>
  <div>
    <label for="etf_2"> ETF 2:
      <input name="etf_2" id="etf_2" />
    </label>
  </div>
  <div>
    <label for="etf_3"> ETF 3:
      <input name="etf_3" id="etf_3" />
    </label>
  </div>
  <p>
    <button type="submit">Submit</button>
  </p>
</form>
<p>Or, update the ETF Company Description database.</p>
<form class="inline" method="get" action="/etf_update">
  <button type="submit">Update Database</button>
</form>
