<h2>Top Shareholders</h2>
<form method="post" action="/shareholders">
  <div>
    <p>
      <label for="name"> Company Name:
        <input name="name" id="name" />
      </label>
    </p>
    <p>
      <label for="nick_name"> NickName:
        <input name="nick_name" id="nick_name" />
      </label>
    </p>
    <p>
      <label for="ticker"> Ticker:
        <input name="ticker" id="ticker" />
      </label>
    </p>
      <label for="revenue"> Revenue (TTM):
        <input name="revenue" id="revenue" />
      </label>
    </p>
    <p>
      <label for="net_income"> Net Income (TTM):
        <input name="net_income" id="net_income" />
      </label>
    </p>
    <p>
      <label for="market_cap"> Market Cap:
        <input name="market_cap" id="market_cap" />
      </label>
    </p>
    <p>
      <label for="date"> Date:
        <input name="date" id="date" />
      </label>
    </p>
    <p>
      <label for="ind_sh_1"><b>Individual Shareholder 1:</b>
        <input name="ind_sh_1" id="ind_sh_1" />
      </label>
      <ul>
        <li>
          <label for="tsh_1"> Total Shares Held:
            <input name="tsh_1" id="tsh_1" />
          </label>
        </li>
        <li>
          <label for="pso_1"> Percentage of Shares Outstanding:
            <input name="pso_1" id="pso_1" />
          </label>
        </li>
      </ul>
    </p>
    <p>
      <label for="ind_sh_2"><b>Individual Shareholder 2:</b>
        <input name="ind_sh_2" id="ind_sh_2" />
      </label>
      <ul>
        <li>
          <label for="tsh_2"> Total Shares Held:
            <input name="tsh_2" id="tsh_2" />
          </label>
        </li>
        <li>
          <label for="pso_2"> Percentage of Shares Outstanding:
            <input name="pso_2" id="pso_2" />
          </label>
        </li>
      </ul>
    </p>
    <p>
      <label for="ind_sh_3"><b>Individual Shareholder 3:</b>
        <input name="ind_sh_3" id="ind_sh_3" />
      </label>
      <ul>
        <li>
          <label for="tsh_3"> Total Shares Held:
            <input name="tsh_3" id="tsh_3" />
          </label>
        </li>
        <li>
          <label for="pso_3"> Percentage of Shares Outstanding:
            <input name="pso_3" id="pso_3" />
          </label>
        </li>
      </ul>
    </p>
    <p>
      <label for="inst_sh_1"><b>Institutional Shareholder 1:</b>
        <input name="inst_sh_1" id="inst_sh_1" />
      </label>
      <ul>
        <li>
          <label for="sh_1"> Shares Held:
            <input name="sh_1" id="sh_1" />
          </label>
        </li>
        <li>
          <label for="os_1"> Ownership Share:
            <input name="os_1" id="os_1" />
          </label>
        </li>
        <li>
          <label for="source_1"> Source:
            <input name="source_1" id="source_1" />
          </label>
        </li>
        <li>
          <label for="sd_1"> Source Date:
            <input name="sd_1" id="sd_1" />
          </label>
        </li>
      </ul>
    </p>
    <p>
      <label for="inst_sh_2"><b>Institutional Shareholder 2:</b>
        <input name="inst_sh_2" id="inst_sh_2" />
      </label>
      <ul>
        <li>
          <label for="sh_2"> Shares Held:
            <input name="sh_2" id="sh_2" />
          </label>
        </li>
        <li>
          <label for="os_2"> Ownership Share:
            <input name="os_2" id="os_2" />
          </label>
        </li>
        <li>
          <label for="source_2"> Source:
            <input name="source_2" id="source_2" />
          </label>
        </li>
        <li>
          <label for="sd_2"> Source Date:
            <input name="sd_2" id="sd_2" />
          </label>
        </li>
      </ul>
    </p>
    <p>
      <label for="inst_sh_3"><b>Institutional Shareholder 3:</b>
        <input name="inst_sh_3" id="inst_sh_3" />
      </label>
      <ul>
        <li>
          <label for="sh_3"> Shares Held:
            <input name="sh_3" id="sh_3" />
          </label>
        </li>
        <li>
          <label for="os_3"> Ownership Share:
            <input name="os_3" id="os_3" />
          </label>
        </li>
        <li>
          <label for="source_3"> Source:
            <input name="source_3" id="source_3" />
          </label>
        </li>
        <li>
          <label for="sd_3"> Source Date:
            <input name="sd_3" id="sd_3" />
          </label>
        </li>
      </ul>
    </p>
  </div>
  <p>
    <button type="submit">Submit</button>
  </p>
</form>